<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" id="wnychamber-fonts-typekit-css" href="https://use.typekit.net/vim2vzm.css?ver=6.1.1" type="text/css" media="all">
  <link rel="stylesheet" href="/components.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if region_key %}<link rel="stylesheet" href="/assets/css/{{ region_key }}.css">{% endif %}
  <script src="/components.js"></script>
  <title>{{ title or 'UNDEFINED' }} &ndash; {{ metas.site }}</title>
</head>
<body>
  {{ content | safe }}
</body>
</html>