---
layout: layouts/default.njk
---
<h1>{{ metas.site }}</h1>

<p>
  Welcome to the {{ metas.site }} microsite.
  The site presents data and visualisations relevant to the Local Skills Improvement Plan,
  including information about skills supply and skill demand.
</p>

<p>
  Select the Supply or Demand data from the menu above.
</p>

<p>
  Supply is broken down by stage of study, with a focus on <a href="/{{ region_key }}/supply/fe">Further Education</a> and
  <a href="/{{ region_key }}/supply/fe-dest/">16-18 Destinations</a>, including <a href="/{{ region_key }}/supply/apprenticeships/">apprenticeships</a>. The source of this data is
  mainly the Department for Education.
</p>

<p>
  Demand data is split into job <a href="/{{ region_key }}/demand/postings">postings</a> and <a href="/{{ region_key }}/demand/nomis">NOMIS</a> data.
  The former based on data provided by <a href="https://lightcast.io/">Lightcast</a> and accessed via
  <a href="https://thedatacity.com/">The Data City</a>.
</p>

{{ content | safe }}

<div class="centred">
  <img style="display: inline;" src="/assets/images/Local-Skills-Improvement-Plan-LOGOTYPE3.png">
</div>
