---
layout: layouts/default.njk
---
<main>
  <h1>Metadata Catalogue</h1>
  <a href="/metadata/">&larr; return to full catalogue</a>

  <h2>{{ title }}</h2>
  {{ comp.metadata.table({ metadata: metadata }) | safe }}
</main>