/* This is remotely resolved from "https://unpkg.com/modern-css-reset/dist/reset.css" */
@import "css/reset.css";
@import "css/axioms.css";
@import "css/header.css";
@import "css/footer.css";
@import "css/text.css";
@import "css/hexmap.css";
@import "css/chart.css";
@import "css/nav.css";
@import "css/oi-viz.css";

:root {
  --colour-primary: #00ACAF;
  --colour-primary-contrast: #ffffff;
  --main-fontstack: Gotham A, Gotham B, Helvetica, Arial, sans-serif;
  --alt-fontstack: utopia-std, Georgia, serif;
}