---
title: Home
---

<p>
  <a href="https://wnychamber.co.uk">West & North Yorkshire Chamber of Commerce</a> is using real time data to guide its two Local Skills Improvement Plan (LSIP) programmes.
 </p>
 <p>
Working with colleagues at <a href="https://open-innovations.org">Open Innovations</a>, we now have a live dashboard of vacancies and job seekers which will assist us in facilitating for training and educational curricula to be tailored to the specific needs of the local business community, a model common in Germany and Scandinavia.
 </p>
 <p>
Using live data will give us an ever-evolving snapshot of local need and provision, allowing us to act dynamically and effectively. 
 </p>
 <p>
The Chamber tendered to deliver these programmes for both West and North Yorkshire and announced in September that had been successful. It is delivering the West Yorkshire programme in conjunction with Mid Yorkshire Chamber of Commerce.
</p>

<p>
  You can visit the dashboard for either <a href="/wycc/">West Yorkshire LSIP</a> or the <a href="/nycc/">North Yorkshire LSIP</a>.
</p>

<p>
  The site also contains a <a href="/metadata/">Metadata catalogue</a> which describes the data that has been collected to drive the visualisations.
</p>

<div class="centred">
  <img style="display: inline;" src="/assets/images/Local-Skills-Improvement-Plan-LOGOTYPE3.png">
</div>
