---
title: Home
---

<p>
  Data microsite site to support the West and North Yorkshire Chamber of Commerce Local Skills Improvement Plans
</p>

<img src="/assets/images/lsip-web-logo.png">

<p>
  You can visit the dashboard for either <a href="/wycc/">West Yorkshire LSIP</a> or the <a href="/nycc/">North Yorkshire LSIP</a>.
</p>

<p>
  The site also contains a <a href="/metadata/">Metadata catalogue</a> which describes the data that has been collected to drive the visualisations.
</p>


