---
title: Metadata Catalogue
---

<main>
<h1>{{ title }}</h1>

<p>
  These pages list the metadata associated with the data sets available
  in the data microsite.
</p>

<p>
  Metadata is available for the following datasets.
</p>

{% for origin, details in origins %}
  <h2>{{ details.name or origin }}</h2>
  <ul>
  {% for metadata_page in search.pages("metadata origin=" + origin, "title") %}
    <li><a href="{{ metadata_page.url }}">{{ metadata_page.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

</main>