<footer>
  <div class="wrapper">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/wycc/">West Yorkshire Data</a>
        </li>
        <li>
          <a href="/nycc/">North Yorkshire Data</a>
        </li>
        <li>
          <a href="/metadata/">Metadata catalogue</a>
        </li>
      </ul>
    </nav>
    <p>
      Site created by <a href="https://open-innovations.org">Open Innovations</a>.
    </p>
  </div>
</footer>