<header>
  <div class="wrapper">
    <div>
      {{ metas.site }}
      {{ title }}
    </div>

    <nav>
      <p>This is temporary navigation until full site structure in place<p>
      <ul>
        <li><a href="/metadata/">Metadata Catalogue</a></li>
        <li><a href="/wycc/supply/ks4/">WYCC Supply KS4</a></li>
        <li><a href="/nycc/supply/ks4/">NYCC Supply KS4</a></li>
      </ul>
    </nav>
  </div>
</header>