<header>
  <div class="wrapper">
    <div class="row">
      <img src="/assets/images/logo-white.svg" inline/>
      <img src="/assets/images/lsip-web-logo.png" inline/>
    </div>
    <div class="row">
      <div>
        {{ metas.site }}
      </div>
      <div>
        {{ title }}
      </div>
      <nav>
        <ul>
          <li><a href="/metadata/">Metadata Catalogue</a></li>
          <li><a href="/wycc/">West Yorkshire Data</a></li>
          <li><a href="/nycc/">North Yorkshire Data</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      {% if region_key %}
        <ul>
        {% for item in nav_menu %}
          {{ comp.nav.item({ item: item, prefix: region_key }) | safe }}
        {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</header>