<header>
  <div class="wrapper">
    <div class="row">
      <img src="/assets/images/logo-white.svg" inline/>
      <div class="greedy">
        <p class="title site">{{ metas.site }}</p>
        <p class="title page">{{ title }}</p>
      </div>
    </div>
  </div>
  {% if region_key %}
  <nav>
    <ul class="wrapper">
      {% for item in nav_menu %}
        {{ comp.nav.item({ item: item, prefix: region_key }) | safe }}
      {% endfor %}
      </ul>
  </nav>
  {% endif %}
</header>
