---
css: |
  .metadata {
    & * + * {
      margin-top: 0;
    }
    & table {
      border-collapse: collapse;
      width: 100%;
    }
    & :is(td, th) {
      padding: 0.5rem;
      border: 1px solid black;
      & > * {
        margin: 0;
      }
    }
    & .blocklist {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      font-size: 0.9em;
      font-family: monospace;
      --colour: darkred;
      & > * {
        display: block;
        color: white;
        background: var(--colour);
        padding: 0.5em 1em;
        border-radius: 1em;
      }
    }
  }
  [hidden] {
    display: none;
  }
js: |
  addEventListener('DOMContentLoaded', () => {
    var targets = document.querySelectorAll("button[aria-expanded]");
    targets.forEach(t => t.addEventListener('click', function() {
      let n = this.getAttribute("aria-expanded") === "true" || !1;
      this.setAttribute("aria-expanded", !n);
      this.innerHTML = n ? "Expand" : "Collapse";
      let e = this.nextElementSibling;
      e.hidden = !e.hidden
    }));
  });
---
<div class="metadata">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Filename</th>
        <td>{{ metadata.path }}</td>
      </tr>
      <tr>
        <th>Indexes</th>
        <td>
          <ul class="blocklist" style="--colour: darkgreen;">
            {% for index in metadata.indexes %}
              <li>
                {{ index.name }}
                <button aria-expanded="false">Expand</button>
                <div style="margin-top: 0.5rem;" hidden>
                  <ul class="blocklist" style="--colour: darkorange;">
                    {% for c in index.categories %}
                      <li>{{ c }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Columns</th>
        <td>
          <ul class="blocklist">
            {% for c in metadata.columns %}
              <li>{{ c }} ({{ metadata.types[loop.index0] }})</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>