---
css: |
  .metadata {
    & * + * {
      margin-top: 0;
    }
    & table {
      border-collapse: collapse;
      width: 100%;
    }
    & :is(td, th) {
      padding: 0.5rem;
      border: 1px solid black;
      & > * {
        margin: 0;
      }
    }
    & .blocklist {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      font-size: 0.9em;
      font-family: monospace;
      --colour: darkred;
      & > * {
        display: block;
        color: white;
        background: var(--colour);
        padding: 0.5em 1em;
        border-radius: 1em;
      }
    }
  }
---
<div class="metadata">
  <table>
    <tbody>
      <tr>
        <th>Filename</th>
        <td>{{ metadata.path }}</td>
      </tr>
      <tr>
        <th colspan="2">Dimensions</th>
      </tr>
      {% for dimension in metadata.dimensions %}
      <tr>
        <td>
          {{ dimension.name }}
        </td>
        <td>
          <ul class="blocklist" style="--colour: darkgreen;">
            {% for c in dimension.categories %}
              <li>{{ c }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="2">Facts</th>
      <tr>
        <td colspan=2>
          <ul class="blocklist">
            {% for fact in metadata.facts %}
              <li>{{ fact.name }} ({{ fact.data_type }})</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>