---
layout: layouts/default.njk
datasets:
  - nomis/ukbc-lu-emp
  - nomis/bres
---
<h1>NOMIS</h1>
Most recent data - UKBC ({{ stats.nomis_date | dump(2) }}) and BRES ({{ stats.bres_date | dump(2) }}).
<p>Datasets used:</p>

<ul>
  {% for dataset in datasets %}
    {% set page = search.page("url=/metadata/" + dataset + "/" ) %}
    <li>
      {{ page.data }}
      <a href="{{ page.url }}">
        {{ page.title }} from {{ page.origin }}
      </a>
    </li>
  {% endfor %}
</ul>

<h2>UKBC</h2>
{# {% comp 'dashboard.flex' %}
{% comp 'dashboard.pane' %}
  <p class="centred">Line chart</p>
  {{ comp.oi.chart.line({
        config: {
          "data": size_over_time_whole_region.rows,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "title": {
                "label": "Year"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 5,
              "min": 2010,
              "max": 2022
            },
            "y": {
              "title": {
                "label": "Number of Businesses"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 10,
              "min": 50,
              "max": 120
            }
          },
          "series": [{
              "title": "Large (250+)",
              "x": "date",
              "y": "large_250+_",
              "colour": "red"
            }
          ]
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
  <p class="centred">Line chart</p>
  {{ comp.oi.chart.line({
        config: {
          "data": size_over_time_whole_region.rows,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "title": {
                "label": "Year"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 5,
              "min": 2010,
              "max": 2022
            },
            "y": {
              "title": {
                "label": "Number of Businesses"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 100,
              "min": 800,
              "max": 1050
            }
          },
          "series": [{
              "title": "Medium (50-249)",
              "x": "date",
              "y": "medium_sized_50_to_249_",
              "colour": "blue"
            }
          ]
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %}

{% comp 'dashboard.flex' %}
{% comp 'dashboard.pane' %}
  <p class="centred">Line chart</p>
  {{ comp.oi.chart.line({
        config: {
          "data": size_over_time_whole_region.rows,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "title": {
                "label": "Year"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 5,
              "min": 2010,
              "max": 2022
            },
            "y": {
              "title": {
                "label": "Number of Businesses"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 1000,
              "min": 34500,
              "max": 40000
            }
          },
          "series": [{
              "title": "Micro (0-9)",
              "x": "date",
              "y": "micro_0_to_9_",
              "colour": "orange"
            }
          ]
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
  <p class="centred">Line chart</p>
  {{ comp.oi.chart.line({
        config: {
          "data": size_over_time_whole_region.rows,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "title": {
                "label": "Year"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 5,
              "min": 2010,
              "max": 2022
            },
            "y": {
              "title": {
                "label": "Number of Businesses"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 500,
              "min": 5000,
              "max": 7000
            }
          },
          "series": [{
              "title": "Small (10-49)",
              "x": "date",
              "y": "small_10_to_49_",
              "colour": "green"
            }
          ]
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %} #}

{# <div data-dependencies="/assets/js/scatter-popup.js">
{{ comp.plot.scatter({
  config: {
    data: industry_sector_latest_year.rows,
    x: 'industry_name',
    y: 'obs_value',
    margin: { left: 70 },
    nameMapper: mapper.demand.sector.businessSector,
    radius: 4,
    axis: {
      x: {
        title: 'Industry Sector'
      },
      y: {
        title: 'Number of business',
        padding: 50
      }
    }
  }
}) | safe }}
</div> #}
{# 
{% comp 'dashboard.pane' %}
  <p class="centred">Industry Sector Sizes</p>
  {{ comp.oi.chart.bar({
        config: {
          "data": industry_sector_latest_year.rows,
          "stacked": false,
          "category": "industry_name",
          "series": series.sector_names,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "tickSpacing": 1000
            }
          }
        }
      }) | safe }}
  {% endcomp %} #}
  {# Summary headlines #}
<p>Number of businesses by size (number of employees) in {{ stats.nomis_date | dump(2) }}.</p>
{% comp 'dashboard.grid', {max_width: '10rem'} %}
{{ comp.dashboard.headline({
      title: 'Large (250+)',
      "headline": headline_stats.large_250_
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Medium (50-249)',
      "headline": headline_stats.medium_sized_50_to_249_
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Small (10-49)',
      "headline": headline_stats.small_10_to_49_
    }) | safe }}
  {{ comp.dashboard.headline({
      title: 'Micro (0-9)',
      "headline": headline_stats.micro_0_to_9_
    }) | safe }}
{% endcomp %}
  {% comp 'dashboard.pane' %}
  <p class="centred">Business Size Change Over Time</p>
  {{ comp.oi.chart.line({
        config: {
          "data": size_time_indexed.rows,
          "legend": {
            "show": true
          },
          "axis": {
            "x": {
              "title": {
                "label": "Year"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 5,
              "min": 2010,
              "max": 2022
            },
            "y": {
              "title": {
                "label": "Index 2010=100"
              },
              "grid": {
                "show": true
              },
              "tickSpacing": 10,
              "min": 80,
              "max": charts.business_change.max or 160
            }
          },
          "series": [{
              "title": "Large (250+)",
              "x": "date",
              "y": "large_250_",
              "colour": "red",
              "points": {
                "marker": "triangle",
                "size": "28"
              }
            },
            {
              "title": "Medium (50-249)",
              "x": "date",
              "y": "medium_sized_50_to_249_",
              "colour": "blue",
              "points": {
                "marker": "line",
                "size": "16"
              }
            },
            {
              "title": "Micro (0-9)",
              "x": "date",
              "y": "micro_0_to_9_",
              "colour": "green",
              "points": {
                "marker": "circle",
                "size": "14"
              }
            },
            {
              "title": "Small (10-49)",
              "x": "date",
              "y": "small_10_to_49_",
              "colour": "orange",
              "points": {
                "marker": "diamond",
                "size": "20"
              }
            }
          ]
        }
      }) | safe }}
  {% endcomp %}

<h2> BRES Treemap </h2>
<p>
**TO BE ADDED**
</p>