---
layout: layouts/default.njk
datasets:
  - datacity/averagepostingdurationbycertificationsskill
  - datacity/averagepostingdurationbycommonskill
  - datacity/averagepostingdurationbysoftwareskill
  - datacity/averagepostingdurationbyspecializedskill
  - datacity/jobpostingsbycertificationsskill
  - datacity/jobpostingsbycommonskill
  - datacity/jobpostingsbysoftwareskill
  - datacity/jobpostingsbyspecializedskill
  - datacity/jobpostingsbysoc4code
---
{% macro jobs_table(jobs, area, total) %}
  <table class="centred">
    <thead>
      <tr>
        <th>SOC4 name</th>
        <th colspan=2>Job postings</th>
      </tf>
      <tr>
        <th>(sub-major level)</th>
        <th>count</th>
        <th>% of total</th>
      </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
      <tr>
        <td>{{ job.sub_major_full_title }}</td>
        <td>{{ job[area] }}</td>
        <td>{{ job[area] | percentagize(total) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

<h1>Skills demand based on job postings</h1>

<h2>In-demand skills</h2>

<p>
  These charts show the count of postings compared with the average duration of those postings.
  This is a proxy for difficult to fill jobs, either as demand is high, or the skill is niche.
</p>

<p>
  Hover over the points to show the geography of the point and the actual numbers.
</p>

{% comp 'dashboard.grid' %}

<div data-dependencies="/assets/js/scatter-popup.js">
<h3>Specialised Skill Demand</h3>
{{ comp.plot.scatter({
  config: {
    data: specialised_skill_demand_duration.rows,
    x: 'duration',
    y: 'count',
    margin: { left: 70 },
    radius: 4,
    nameMapper: mapper.demand.name.postingsDemandDuration,
    axis: {
      x: {
        title: 'Average duration of job posting'
      },
      y: {
        title: 'Count of job posting',
        padding: 50
      }
    }
  }
}) | safe }}
</div>

<div data-dependencies="/assets/js/scatter-popup.js">
<h3>Certification Skill Demand</h3>
{{ comp.plot.scatter({
  config: {
    data: certifications_skill_demand_duration.rows,
    x: 'duration',
    y: 'count',
    margin: { left: 70 },
    radius: 4,
    nameMapper: mapper.demand.name.postingsDemandDuration,
    axis: {
      x: {
        title: 'Average duration of job posting'
      },
      y: {
        title: 'Count of job posting',
        padding: 50
      }
    }
  }
}) | safe }}
</div>

<div data-dependencies="/assets/js/scatter-popup.js">
<h3>Software Skill Demand</h3>
{{ comp.plot.scatter({
  config: {
    data: software_skill_demand_duration.rows,
    x: 'duration',
    y: 'count',
    margin: { left: 70 },
    radius: 4,
    nameMapper: mapper.demand.name.postingsDemandDuration,
    axis: {
      x: {
        title: 'Average duration of job posting'
      },
      y: {
        title: 'Count of job posting',
        padding: 50
      }
    }
  }
}) | safe }}
</div>

<div data-dependencies="/assets/js/scatter-popup.js">
<h3>Common Skill Demand</h3>
{{ comp.plot.scatter({
  config: {
    data: common_skill_demand_duration.rows,
    x: 'duration',
    y: 'count',
    margin: { left: 70 },
    radius: 4,
    nameMapper: mapper.demand.name.postingsDemandDuration,
    axis: {
      x: {
        title: 'Average duration of job posting'
      },
      y: {
        title: 'Count of job posting',
        padding: 50
      }
    }
  }
}) | safe }}
</div>
{% endcomp %}

<h2>Postings (all Local Authorities)</h2>

{{ comp.oi.hierarchy.treemap({
  config: {
    data: postings.rows,
    grouping: ['major_title', 'sub_major_title', 'minor_title', 'unit_title'],
    width: 900,
    height: 700,
    name: 'unit_title',
    description: mapper.treemap.soc4Demand.tooltip,
    colour: mapper.treemap.soc4Demand.colour,
    value: 'count'
  }
}) | safe }}

{%- set count = 15 -%}
{%- set jobs = postings_by_soc4_sub_major.rows | row_sort('Total') | head(count) -%}
<h3>Top {{ jobs | length }} job postings by SOC4 sub-major code (all Local Authorities)</h3>
{{ jobs_table(jobs, "Total", postings_summary['Total']) }}
  
{%- for area in areas -%}
  {%- set count = 5 -%}
  {%- set jobs = postings_by_soc4_sub_major.rows | row_sort(area) | head(count) -%}
  <h2>Top {{ jobs | length }} job postings by SOC4 sub-major code in {{ area }}</h2>
  {{ jobs_table(jobs, area, postings_summary[area]) }}
{%- endfor -%}

{{ comp.datasets({ datasets: datasets }) | safe }}