---
layout: layouts/default.njk
datasets:
  - apprenticeships/apprenticeship-starts-achievements-2022-23
---
<h1>Skills Supply: Apprenticeships</h1>
<p> This page shows the latest available data (2022/23) for apprenticeships. There are breakdowns by local authority, apprenticeship level, and subject area. 
  The apprenticeship levels are approximately:
  <inline>
    <li>Intermediate: Level 2</li>
    <li>Advanced: Level 3</li>
    <li >Higher: Level 4/5</li>
  </inline>
</p>

<p>Datasets used:</p>

<ul>
  {% for dataset in datasets %}
    {% set page = search.page("url=/metadata/" + dataset + "/" ) %}
    <li>
      {{ page.data }}
      <a href="{{ page.url }}">
        {{ page.title }} from {{ page.origin }}
      </a>
    </li>
  {% endfor %}
</ul>

{# Summary headlines #}
{% comp 'dashboard.grid', {max_width: '10rem'} %}
{{ comp.dashboard.headline({
      title: 'Total Apprenticeship Starts',
      headline: stats.starts
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total Apprenticeship Achievements',
      headline: stats.achievements
    }) | safe }}
{% endcomp %}
<h2> Local Authority
    </h2>
{% comp 'dashboard.grid' %}
{% comp 'dashboard.pane' %}
<p class='centred'> Starts </p>
{{ comp.oi.map.hex_cartogram(
      {
        config: {
          hexjson: hex_layout,
          hexScale: 0.8,
          data: all_apprenticeship_all_subject_geography_code.rows,
          matchKey: 'geography_code',
          titleProp: 'n',
          valueProp: 'starts',
          min: 100,
          scale: colour_scale.sample
        }
      }
    ) | safe }}
{% endcomp %}
{% comp 'dashboard.pane' %}
<p class='centred'> Achievements </p>
{{ comp.oi.map.hex_cartogram(
      {
        config: {
          hexjson: hex_layout,
          hexScale: 0.8,
          data: all_apprenticeship_all_subject_geography_code.rows,
          matchKey: 'geography_code',
          titleProp: 'n',
          valueProp: 'achievements',
          min: 30,
          scale: colour_scale.sample
        }
      }
    ) | safe }}
{% endcomp %}
{% endcomp %}

{% comp 'dashboard.grid' %}
{% comp 'dashboard.pane' %}
  <p class="centred">Apprenticeship Levels: Starts</p>
  {{ comp.oi.chart.bar({
        config: {
          data: all_subjects_level_geography_code_starts.rows | value_mapper({
          key: "geography_code",
          mapper: mapper.geo_code_to_name
        }),
          stacked: true,
          category: "geography_code",
          series: series.apprenticeships.apprenticeship_level,
          legend: { show: true },
          axis: {
            x: { tickSpacing: 500}
          }
        }
      }) | safe }}
  {% endcomp %}

{% comp 'dashboard.pane' %}
  <p class="centred">Apprenticeship Levels: Achievements</p>
  {{ comp.oi.chart.bar({
        config: {
          data: all_subjects_level_geography_code_ach.rows | value_mapper({
          key: "geography_code",
          mapper: mapper.geo_code_to_name
        }),
          stacked: true,
          category: "geography_code",
          series: series.apprenticeships.apprenticeship_level,
          legend: { show: true },
          axis: {
            x: { tickSpacing: 100}
          }
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %}

<h2> Subject Area </h2>
<p>We have omitted "low" entries in the dataset in favour of visual quality. These are values greater than 0 but less than 5.</p>
{% comp 'dashboard.pane' %}
  <p class="centred">Subjects: Starts</p>
  {{ comp.oi.chart.bar({
        config: {
          data: all_apprenticeship_level_subject_geography_code_starts.rows | value_mapper({
          key: "geography_code",
          mapper: mapper.geo_code_to_name
        }),
          stacked: true,
          category: "geography_code",
          series: series.apprenticeships.subject_area,
          legend: { show: true },
          axis: {
            x: { tickSpacing: 500}
          }
        }
      }) | safe }}
  {% endcomp %}
{% comp 'dashboard.pane' %}
  <p class="centred">Subjects: Achievements</p>
  {{ comp.oi.chart.bar({
        config: {
          data: all_apprenticeship_level_subject_geography_code_ach.rows | value_mapper({
          key: "geography_code",
          mapper: mapper.geo_code_to_name
        }),
          stacked: true,
          category: "geography_code",
          series: series.apprenticeships.subject_area,
          legend: { show: true },
          axis: {
            x: { tickSpacing: 100}
          }
        }
      }) | safe }}
  {% endcomp %}
  