---
layout: layouts/default.njk
datasets:
  - fe/further-education-and-skills-geography-detailed-summary
  - fe/education-and-training-geography-local-authority-district
  - fe/basic-skills-regional-breakdown
---
<h1>Skills Supply: Further Education</h1>
<p>
    This page shows the latest available data (2021/22) for further education (FE), 
    which is education below degree level for people above school age. 
    </p>

<p>Datasets used:</p>

<ul>
  {% for dataset in datasets %}
    {% set page = search.page("url=/metadata/" + dataset + "/" ) %}
    <li>
      {{ page.data }}
      <a href="{{ page.url }}">
        {{ page.title }} from {{ page.origin }}
      </a>
    </li>
  {% endfor %}
</ul>
{# Summary headlines #}
{% comp 'dashboard.grid', {max_width: '10rem'} %}
{{ comp.dashboard.headline({
      title: 'Total Achievements in FE',
      headline: summary.achievements | humanise({ decimalPlaces: 1 })
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total Participation in FE',
      headline: summary.participation | humanise({ decimalPlaces: 1 })
    }) | safe }}
{% endcomp %}

<h2> Local Authority </h2>
<p> The following figures show data on Basic Skills, which consists of English and Maths up to GSCE level and basic digital skills. 
    Participation represents anyone who took part on the course at any point during the year. Achievement represents anyone who gained a qualification
    during the year. </p>
{% comp 'dashboard.pane' %}
<table class="centred-block">
<thead>
    <tr>
    <th>Local Authority</th>
    <th>Basic Skills Achievement to Participation Ratio</th>
    </tr>
</thead>
<tbody>
    {%- for row in stats.rows | value_mapper({
            key: 'geography_code',
            mapper: mapper.geo_code_to_name
        }) %}
        <tr>
            <td>{{ row.geography_code }}</td>
            <td class="centred">{{ row.ap_ratio }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endcomp %}

{% comp 'dashboard.grid' %}
    {% comp 'dashboard.pane' %}
    <p class="centred">Basic Skills Participation by Subject Area</p>
    {{ comp.oi.chart.bar({
        config: {
            data: stats.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
            }),
            category: "geography_code",
            series: series.fe_subject_area_participation,
            legend: { show: true },
            axis: {
            x: { tickSpacing: 1000 }
            }
        }
        }) | safe }}
    {% endcomp %}

    {% comp 'dashboard.pane' %}
        <p class="centred">Basic Skills Achievement by Subject Area</p>
        {{ comp.oi.chart.bar({
            config: {
                data: stats.rows | value_mapper({
                key: "geography_code",
                mapper: mapper.geo_code_to_name
                }),
                category: "geography_code",
                series: series.fe_subject_area_achievements,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 1000 }
                }
            }
            }) | safe }}
        {% endcomp %}
{% endcomp %}

<h2> National Vocational Qulaification (NVQ) </h2>
<p> The NVQ is a work based qualification. In the figures below, 'enrolments' represent anyone who took part in the 
    course during the year, while 'achievements' represent those that gained a qualification. 
    There are breakdowns by gender, ethnicity, NVQ level and subject. NVQ level 1 is roughly equivalent to 3/4 
    GCSE grades D-G. NVQ level 4 is roughly equivalent to a Higher Education Certificate/BTEC.
    <p>

{# {% comp 'dashboard.pane' %}
    <p class="centred">Students Entering/Completing FE by subject area</p>
    {{ comp.oi.chart.bar({
        config: {
            data: e_and_t_by_ssa_t1_desc.rows,
            category: "ssa_t1_desc",
            series: series.fe_training_subject_area,
            legend: { show: true },
            axis: {
            x: { tickSpacing: e_and_t_by_ssa_t1_desc.columns.e_and_t_aims_enrolments | max }
            }
        }
        }) | safe }}
    {% endcomp %} #}

{# {{comp.DEBUG({metric:2021_22.e_and_t_aims_enrolments_sex_notional_nvq_level.rows}) | safe}} #}
{%comp 'dashboard.grid' %}
    {% comp 'dashboard.pane' %}
        <p class="centred">NVQ Enrolments: Level and Gender Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_enrolments_sex_notional_nvq_level.rows,
                category: "sex",
                stacked: true,
                series: series.fe.nvq_level,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}

    {% comp 'dashboard.pane' %}
        <p class="centred">NVQ Achievements: Level and Gender Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_ach_sex_notional_nvq_level.rows,
                category: "sex",
                stacked: true,
                series: series.fe.nvq_level,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}
{% endcomp %}

 
{% comp 'dashboard.grid' %}
{% comp 'dashboard.pane' %}
        <p class="centred">NVQ Enrolments: Level and Ethnicity Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_enrolments_ethnicity_group_notional_nvq_level.rows,
                category: "ethnicity_group",
                stacked: true,
                series: series.fe.nvq_level,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}

{% comp 'dashboard.pane' %}
        <p class="centred">NVQ Achievements: Level and Ethnicity Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_ach_ethnicity_group_notional_nvq_level.rows,
                category: "ethnicity_group",
                stacked: true,
                series: series.fe.nvq_level,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}
{% endcomp %}

{# {{comp.DEBUG({metric:2021_22.e_and_t_aims_enrolments_ssa_t1_desc_ethnicity_group.rows}) | safe}} #}
{% comp 'dashboard.grid' %}
{% comp 'dashboard.pane' %}
        <p class="centred">NVQ Enrolments: Subject and Ethnicity Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_enrolments_ssa_t1_desc_ethnicity_group.rows,
                category: "ssa_t1_desc",
                stacked: true,
                series: series.fe.ethnicity_group,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}

{% comp 'dashboard.pane' %}
        <p class="centred">NVQ Achievements: Subject and Ethnicity Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.e_and_t_aims_ach_ssa_t1_desc_ethnicity_group.rows,
                category: "ssa_t1_desc",
                stacked: true,
                series: series.fe.ethnicity_group,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 10000}
                }
            }
            }) | safe }}
        {% endcomp %}
{% endcomp %}
<h2>Enrolments Tree Map </h2>
In the treemap below, the area of each rectangle represents the number of enrolments in each subject.
<div data-dependencies="/assets/js/treemap-popup.js">
{{
  comp.oi.viz.beta.tree_map({
    config: {
      table: 2021_22.e_and_t_aims_enrolments_ssa_t1_desc_ethnicity_group.rows,
      grouping: mapper.treemap.supply_fe.grouping,
      reduce: mapper.treemap.supply_fe.reduce,
      width: 800,
      height: 600,
      padding: 0,
      dataMapper: mapper.treemap.supply_fe.data,
      nameMapper: mapper.treemap.supply_fe.name,
      valueKey: 'total',
      ratio: 3.5,
      colourMapper: mapper.treemap.supply_fe.colour
    }
  }) | safe 
}}
</div>
<h2> Apprenticeships </h2>
<p> Shown below is the apprenticeship level of study for different age groups. The levels are approximately:
    <li>
        Intermediate: Level 2
        </li>
    <li>
        <a>Advanced: Level 3</a>
        </li>
    <li>
        <a>Higher: Level 4/5</a>
        </li>
{% comp 'dashboard.grid' %}
{% comp 'dashboard.pane' %}
        <p class="centred">Apprenticeship Participations: Level and Age Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.participation_level_or_type_age_group.rows,
                category: "level_or_type",
                stacked: true,
                series: series.fe.age_group,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 5000}
                }
            }
            }) | safe }}
        {% endcomp %}

{% comp 'dashboard.pane' %}
        <p class="centred">Apprenticeship Achievements: Level and Age Split</p>
        {{ comp.oi.chart.bar({
            config: {
                data: 2021_22.achievements_level_or_type_age_group.rows,
                category: "level_or_type",
                stacked: true,
                series: series.fe.age_group,
                legend: { show: true },
                axis: {
                x: { tickSpacing: 1000}
                }
            }
            }) | safe }}
        {% endcomp %}
{% endcomp %}
