---
layout: layouts/default.njk
datasets:
  - fe-dest/16-18-local-authority-level-destinations
---
<h1>Skills Supply: 16-18 Destinations</h1>
<p>This page shows the latest data (2020/21) for the current level of 16-18 study and their intended destinations.
  We only consider sustained destinations, which is participation for at least 6 months.  Level 2 qualifications are
  equivalent to GCSE grades 9-4 or grades A*-C. Level 3 qualifcations are equivalent to A/AS-Level.
  </p>
<p>Datasets used:</p>

<ul>
  {% for dataset in datasets %}
    {% set page = search.page("url=/metadata/" + dataset + "/" ) %}
    <li>
      {{ page.data }}
      <a href="{{ page.url }}">
        {{ page.title }} from {{ page.origin }}
      </a>
    </li>
  {% endfor %}
</ul>

{# Summary headlines #}
<p>
  <center>
  Headline statistics showing the total number of people completing 16-18 study at each level.
  </center>
</p>
{% comp 'dashboard.grid', {max_width: '10rem'} %}
{{ comp.dashboard.headline({
      title: 'Total completing 16-18 studies',
      headline: summary.number_of_pupils_completing_16_18_study | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total at Level 3',
      headline: summary.level_3 | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total at Level 2',
      headline: summary.level_2 | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total other qualification',
      headline: summary.all_other_qualifications | localise
    }) | safe }}
{% endcomp %}


<h2>
  Breakdowns by Local Authority
</h2>
<p>
  Hover over the figures to show the actual numbers or over the bar chart categories to unstack the bars.
</p>
{% comp 'dashboard.grid' %}
  {% comp 'dashboard.pane', {classes: 'centred'} %}
    <p>Total number of students completing 16-18 studies by Local Authority</p>
    {{ comp.oi.map.hex_cartogram(
          {
            config: {
              hexjson: hex_layout,
              hexScale: 0.8,
              data: fe_dest_totals_by_geography.rows,
              matchKey: 'geography_code',
              titleProp: 'n',
              valueProp: 'number_of_pupils_completing_16_18_study',
              scale: colour_scale.sample,
              min: fe_dest_totals_by_geography.columns.number_of_pupils_completing_16_18_study | min
            }
          }
        ) | safe }}
  {% endcomp %}

  {% comp 'dashboard.pane' %}
  <p class="centred">Destination as a percentage <small>(only includes sustained destinations)</small></p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.dest_type,
          legend: { show: true },
          axis: {
            x: { tickSize: 50}
          }
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %}

<p> The two figures below show pupils completing 16-18 study, as a percentage (left) and raw numbers (right).
  Seeing this data as a percentage is useful when one place has many more people than another (e.g. Leeds).
</p>

{% comp 'dashboard.flex' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">Percentage of pupils by qualification type</p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.qual_type_pct,
          legend: { show: true },
          axis: {
            x: { tickSize: 50 }
          }
        }
      }) | safe }}
  {% endcomp %}

  {% comp 'dashboard.pane' %}
  <p class="centred">Number of pupils by qualifcation type</p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.qual_type,
          legend: { show: true },
          axis: {
            x: { tickSize: 5000}
          }
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %}

<h2> 
  Breakdown by Student Characteristic 
</h2>
<h3> 
  **Please note this is WIP, data is not accurate as it stands** 
</h3>
<p> 
  The figures below show different student characterstic splits in a range of destination types
  More splits will be added. 
</p> 
{# {{comp.DEBUG({metric:2020_21.fe_dest_detail.rows}) | safe}} #}
{# {{comp.DEBUG({metric:series.fe_dest.characteristic}) | safe}} #}
{% comp 'dashboard.pane' %}
  <p class="centred">Hello</p>
  {{ comp.oi.chart.bar({
        config: {
          data: 2020_21.fe_dest_detail.rows,
          stacked: true,
          category: "characteristic",
          series: series.fe_dest.study_level,
          legend: { show: true },
          axis: {
            x: { tickSize: 100}
          }
        }
      }) | safe }}
  {% endcomp %}
{# {% comp 'dashboard.grid' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">FE Level 3</p>
  {{ comp.oi.chart.bar({
        config: {
          data: 2020_21.fe_level_3_characteristic_group_student_characteristic.rows,
          stacked: true,
          category: "characteristic_group",
          series: series.fe_dest.student_characteristic,
          legend: { show: true },
          axis: {
            x: { tickSize: 500}
          }
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
    <p class="centred">FE Level 2</p>
    {{ comp.oi.chart.bar({
          config: {
            data: 2020_21.fe_level_2_characteristic_group_student_characteristic.rows,
            stacked: true,
            category: "characteristic_group",
            series: series.fe_dest.student_characteristic,
            legend: { show: true },
            axis: {
              x: { tickSize: 500}
            }
          }
        }) | safe }}
    {% endcomp %}
{% endcomp %}

{% comp 'dashboard.grid' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">FE Entry Level / Unidentified</p>
  {{ comp.oi.chart.bar({
        config: {
          data: 2020_21.fe_entry_level_and_no_identified_level_characteristic_group_student_characteristic.rows,
          stacked: true,
          category: "characteristic_group",
          series: series.fe_dest.student_characteristic,
          legend: { show: true },
          axis: {
            x: { tickSize: 500}
          }
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
    <p class="centred">Other Education Destinations</p>
    {{ comp.oi.chart.bar({
          config: {
            data: 2020_21.other_education_destinations_characteristic_group_student_characteristic.rows,
            stacked: true,
            category: "characteristic_group",
            series: series.fe_dest.student_characteristic,
            legend: { show: true },
            axis: {
              x: { tickSize: 500}
            }
          }
        }) | safe }}
    {% endcomp %}
{% endcomp %} #}

