---
layout: layouts/default.njk
---
{# Summary headlines #}
{% comp 'dashboard.grid', {max_width: '10rem'} %}
{{ comp.dashboard.headline({
      title: 'Total completing 16-18 studies',
      headline: summary.number_of_pupils_completing_16_18_study | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total at Level 3',
      headline: summary.level_3 | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total at Level 2',
      headline: summary.level_2 | localise
    }) | safe }}
{{ comp.dashboard.headline({
      title: 'Total other qualification',
      headline: summary.all_other_qualifications | localise
    }) | safe }}
{% endcomp %}


{% comp 'dashboard.pane', {classes: 'centred'} %}
  <p>Total number of students completing 16-18 studies</p>
  {{ comp.oi.map.hex_cartogram(
        {
          config: {
            hexjson: hex_layout,
            hexScale: 0.8,
            data: fe_dest_totals_by_geography.rows,
            matchKey: 'geography_code',
            titleProp: 'n',
            valueProp: 'number_of_pupils_completing_16_18_study',
            scale: colour_scale.sample,
            min: fe_dest_totals_by_geography.columns.number_of_pupils_completing_16_18_study | min
          }
        }
      ) | safe }}
{% endcomp %}

{% comp 'dashboard.flex' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">Percentage of pupils by qualification type</p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.qual_type_pct,
          legend: { show: true },
          axis: {
            x: { tickSize: 50 }
          }
        }
      }) | safe }}
  {% endcomp %}

  {% comp 'dashboard.pane' %}
  <p class="centred">Number of pupils by qualifcation type</p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.qual_type,
          legend: { show: true },
          axis: {
            x: { tickSize: 5000}
          }
        }
      }) | safe }}
  {% endcomp %}
{% endcomp %}
{% comp 'dashboard.pane' %}
  <p class="centred">Percentage in each destination type</p>
  {{ comp.oi.chart.bar({
        config: {
          data: fe_dest_totals_by_geography.rows | value_mapper({
            key: "geography_code",
            mapper: mapper.geo_code_to_name
          }),
          stacked: true,
          category: "geography_code",
          series: series.dest_type,
          legend: { show: true },
          axis: {
            x: { tickSize: 50}
          }
        }
      }) | safe }}
  {% endcomp %}

{% comp 'dashboard.grid' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">FE Level 3 Student Characteristics</p>
  {{ comp.oi.chart.bar({
        config: {
          data: 2020_21.fe_level_3_characteristic_group_student_characteristic.rows,
          stacked: true,
          category: "characteristic_group",
          series: series.fe_dest.student_characteristic,
          legend: { show: true },
          axis: {
            x: { tickSize: 500}
          }
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
    <p class="centred">FE Level 2 Student Characteristics</p>
    {{ comp.oi.chart.bar({
          config: {
            data: 2020_21.fe_level_2_characteristic_group_student_characteristic.rows,
            stacked: true,
            category: "characteristic_group",
            series: series.fe_dest.student_characteristic,
            legend: { show: true },
            axis: {
              x: { tickSize: 500}
            }
          }
        }) | safe }}
    {% endcomp %}
{% endcomp %}

{% comp 'dashboard.grid' %}
  {% comp 'dashboard.pane' %}
  <p class="centred">FE Entry Level / Unidentified</p>
  {{ comp.oi.chart.bar({
        config: {
          data: 2020_21.fe_entry_level_and_no_identified_level_characteristic_group_student_characteristic.rows,
          stacked: true,
          category: "characteristic_group",
          series: series.fe_dest.student_characteristic,
          legend: { show: true },
          axis: {
            x: { tickSize: 500}
          }
        }
      }) | safe }}
  {% endcomp %}
  {% comp 'dashboard.pane' %}
    <p class="centred">Other Destinations</p>
    {{ comp.oi.chart.bar({
          config: {
            data: 2020_21.other_education_destinations_characteristic_group_student_characteristic.rows,
            stacked: true,
            category: "characteristic_group",
            series: series.fe_dest.student_characteristic,
            legend: { show: true },
            axis: {
              x: { tickSize: 500}
            }
          }
        }) | safe }}
    {% endcomp %}
{% endcomp %}
