body {
  font-size: 100%;
  font-family: sans-serif;
  padding: 0;
  padding-bottom: 10rem;
  position: relative;
  & > .wrapper {
    padding: 1rem;
  }
}

main {
  margin-top: 1.25rem;
  & * + * {
    margin-top: 1.25rem;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  & td, & th {
    padding: 0.2rem 0.4rem;
  } 
}

.smaller {
  font-size: 0.8em;
}

.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.greedy {
  flex-grow: 5;
}


