header {
  color: var(--colour-primary-contrast);
  background-color: var(--colour-primary);
  & .row {
    padding: 1rem;
    display: flex;
    align-items: start;
    gap: 1rem;
  }
  & :is(img, svg) {
    height: 5rem;
  }
  /* Override svg fill */
  & .cls-1 {
    fill: var(--colour-primary-contrast);
  }
  & > nav {
    & > ul {
      display: flex;
      & > li:hover {
        color: var(--colour-primary);
        background: var(--colour-primary-contrast);
      }
      & ul {
        color: black;
        background-color: var(--colour-primary-contrast);
        box-shadow: 0 .125rem .3125rem 0 hsla(0,0%,40%,.5);
        & li:hover {
          color: var(--colour-primary);
        }
      }
  }
  }
  & nav {
    font-family: var(--alt-fontstack);
    & ul {
      padding: 0;
      margin: 0;
      list-style: none;
      & [aria-expanded]:after {
        content: '+';
        display: block;
        width: 1rem;
      }
      & [aria-expanded='true']:after {
        content: '-';
      }
    }
    & li {
      position: relative;
      padding: 0.5rem 1rem;
      & ul {
        list-style: none;
        position: absolute;
        padding: 0;
        width: max-content;
        top: 100%;
        left: 0;
      }
    }
    & :is(a, button) {
      color: inherit;
      background: inherit;
      border: none;
      text-decoration: none;
      padding: 0;
      display: flex;
      gap: 1rem;
    }
  }
  & .title {
    font-family: var(--alt-fontstack);
    font-size: 1.2em;
    &.site {
      font-size: 1.4em;
    }
  }
}
